
@{
   Layout=null;
}
<!DOCTYPE html>
<html  ng-app="myModule">
<head>
    <script src="~/Scripts/plugins/angular/angular.js"></script>
    <script src="~/Scripts/spa/app.js"></script>
</head>
<body >
    <div ng-controller="rootController">
        <input ng-model="num"/>Value of text is {{num}}
        <button ng-click="checkNumber()">Check number</button>
        {{return}}

    </div>
    <tedu-Shop-Directive></tedu-Shop-Directive>
</body>
</html>

